@import './global.scss';

.editor {
  background: white;
  width: 100%;
  display: flex;
  flex: 1 1 auto;
  position: relative;
  flex-direction: column;

  .status-bar {
    width: 100%;
    height: 20px;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    .right-text {
      position: absolute;
      right: 10px;
      font-size: 8pt;
      color: $darkGray;
    }
  }

  textarea, textarea:focus {
    flex: 1 1 auto;
    outline: none;
    border: none;
    padding: 10px;
  }
}