@import './global.scss';

.login {
  background-color:$grayBackground;
  margin: 200px auto;  
  width: 400px;
  position: absolute;
  display: flex;
  flex-direction: column;
  left:0;
  right: 0;
  top: 50px;
  bottom: 0;
  border-radius: 5px;

  .title {
    width: 100%;
    margin-top: 50px;
    text-align: center;
    font-size: 18pt;
    color: $accentColor;
  }

  .form {
    margin: 0px 50px;
    height: 30px;
    border-radius: 15px;
    border: solid $darkGray 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;

    input, input:focus {
      border: none;
      outline: none;
      width: 100%;
      margin: 0px 15px;
    }
  }

  button {
    align-self: center;
    margin-top: 20px;
    width: 200px;
    height: 40px;
    color: white;
    background-color: $accentColor;
    border-radius: 20px;
    border-width: 0px;
    transition: all 0.25s;

    &:hover {
      cursor: pointer;
      transform: scale(1.1)
    }
  }
}