@import './global.scss';

.note-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1 1 auto;

  p {
    padding: 5px;
    margin-top: 0px;
    color: $accentColor;
    font-weight: 900;
  }

  .scroll-vertical {
    overflow: auto;
    flex: 1 1 auto;
    /* width */
  }
  ::-webkit-scrollbar {
    width: 8px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 4px grey; 
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $accentColor; 
    border-radius: 5px;
  }
}
.note-row {
  display: flex;
  flex-direction: column;
  padding: 10px 5px;
  &:hover {
    background-color: $lightGray;
    cursor: pointer;
  }
  &.active {
    background-color: $lightBlue;
  }
  p {
    color: $darkGray;
  }
  &.active p {
    color: black;
  }
  .title {
    font-size: 16pt;
    height: 30px;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
    margin: 0px;
    padding: 0px;
    text-align: left;
  }
  .content {
    font-size: 8pt;
    padding: 0px;
    margin: 0px;
    text-overflow: ellipsis;
    height: 14px;
    overflow: hidden;
    word-break: break-all;
  }
}