@import './global.scss';

body {
  font-family: 'Quicksand', sans-serif;
  background: url('/assets/images/background.jpg') fixed center center no-repeat;
  background-size: cover;
}
.title  {
  text-align: center;
  color: $lightGray;
  font-family: 'Marck Script', cursive;
  font-size: 40pt;
}
.app {
  background-color:$grayBackground;
  margin: 100px 200px;  
  min-width: 620px;
  position: absolute;
  display: flex;
  flex-direction: row;
  left:0;
  right: 0;
  top: 50px;
  bottom: 0;
}
.border {
  border: solid $seperateColor 2px;
}
.left {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  border-right-width: 1px;
  left: 0;
  top: 0;
  bottom: 0;
}
.right {
  flex-basis: 70%;
  border-left-width: 1px;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
}
.no-note {
  display: flex;
  width: 100%;
  height: 50%;
  align-items: center;
  justify-content: center;

  span {
    font-size: 14pt;
    font-weight: 800;
  }
}