@import './global.scss';

.toolbar {
  padding: 5px;
  border-bottom: solid $seperateColor 1px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  .right-text {
    position: absolute;
    right: 10px;
    font-size: 10pt;
    font-weight: 800;
    color: $accentColor;
  }
  .tool-item {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
  }
  .tool-item:hover {
    background-color: $lightBlue;
    cursor: pointer;
  }
}
.search-box {
  width: 80%;
  height: 20px;
  margin: auto;
  border-radius: 15px;
  border: solid $seperateColor 1px;
  background-color: white;
  display: flex;
  flex-direction: row;

  .icon {
    display: flex;
    height: 100%;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
  }

  input, input:focus {
    width: 100%;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 5px;
    border: none;
    outline: none;
    font-size: 8pt;
  }
}